<!DOCTYPE html>
<html>
<head>
    <title>Spotiscreen Control Panel</title>
    <meta charset="UTF-8">
    <meta author="Solomon Sanderson">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='JS/interface.js')}}" ></script>
</head>
<body class="body">
    <div class="container" id="container">
        <div class="onoff"><h2>On/Off Toggle</h2>
            <form action="/update/" method="POST">
                <input type="checkbox" id="onoffcheck" name="onoffbox" class ="checkbox" checked>
            </form>

        </div>
        <div class="brightness"><h2>Brightness Control</h2>
            <div id="slider" class="slider">
                <form action="/brightness/" method="POST">
                    <input type="range" min="1" max="100" value="50" class="slider" id="brightslide">
                </form>
            </div>
        </div>
        <div class="display"><h2>Display Settings</h2>
            <div>
                Select what to display when the display is idle (no music is playing)
                <form action="/display/" method="POST">
                    <select name="information" id="setting" class="setting">
                        <option value="weather">Weather</option>
                        <option value="image">Image</option>
                        <option value="time">Time</option>
                    </select>
                </form>
            </div>
            <br>
            <div>
                The length of time after music has stopped playing before idling (Seconds)
                <!-- <form acton="/timeout/" method="POST">
                    <input type="number" id="timeout" class="timeout">
                </form> -->
            </div>
        </div>
        <div class="random">
            <a href="https://github.com/solomonsanderson/Spotiscreen">
                <img src="{{url_for('static', filename='spotiscreen.png')}}" align="middle" width=100%/>
            </a>
        </div>
    </div>
    <script type="text/javascript">
        // alert(document.readyState);
        addEventListener("change", get_settings);
    </script>
</body>
</html>