<!DOCTYPE html>
<html>
<head>
    <title>Spotiscreen Control Panel</title>
    <meta charset="UTF-8">
    <meta author="Solomon Sanderson">
    <link rel="stylesheet" href="static\styles\styles.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text.javascript" src="{{ url_for('static', filename='static\JS\interface.js')}}" ></script>
</head>
<body class="body">
    <div class="container" id="container">
        <div class="onoff">onoff toggle
            <form action="/onoff" method="POST">
                <input type="checkbox" id="onoff" name="onoffbox" class ="checkbox" value = "on"
                checked>
            </form>
        </div>
        <div class="brightness">brightness control
            <div id="slider" class="slider">
                <form action="/brightness" method="POST">
                    <input type="range" min="1" max="100" value="50" class="slider" id="brightslide">
                </form>
            </div>
        </div>
        <div class="display">display settings
            <div>
                <form action="/display" method="POST">
                    <select name="information" id="setting" class="setting">
                        <option value="weather">Weather</option>
                        <option value="image">Image</option>
                        <option value="time">Time</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="random">
            <img src="{{url_for('static', filename='spotiscreen.png')}}" align="middle" width=100%/>
        </div>
    </div>
    <script type="text/javascript">
        addEventListener("change", function(){
            var brightnessSlider = document.getElementById("brightslide").value;
            var onoff = document.getElementById("onoff").checked;
            var setting = document.getElementById("setting").value;
            console.log(brightnessSlider);
            console.log(onoff);
            console.log(setting);
            brightnessSlider.onchange();
            onoff.onchange();
            setting.onchange();
        });
    </script>
</body>
</html>