.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    width: 100vw;
    height: 100vh;
    grid-auto-flow: row;
    grid-template-areas:
      "onoff brightness brightness "
      "display display random ";
  }

.body {
    background-color:#ff99ee;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image:
    radial-gradient(at 11% 70%, hsla(148,85%,67%,1) 0px, transparent 50%),
    radial-gradient(at 86% 36%, hsla(263,67%,74%,1) 0px, transparent 50%),
    radial-gradient(at 51% 85%, hsla(115,85%,61%,1) 0px, transparent 50%),
    radial-gradient(at 5% 4%, hsla(191,83%,73%,1) 0px, transparent 50%),
    radial-gradient(at 44% 10%, hsla(290,64%,62%,1) 0px, transparent 50%),
    radial-gradient(at 64% 45%, hsla(297,74%,67%,1) 0px, transparent 50%),
    radial-gradient(at 1% 37%, hsla(75,66%,70%,1) 0px, transparent 50%);
  }
  
.onoff { grid-area: onoff;
    background-color: rgba(255,255,255, 0.8); }
  
.brightness { grid-area: brightness; 
    background-color: rgba(255,255,255, 0.8); }
  
.display { grid-area: display;
    background-color: rgba(255,255,255, 0.8); }
  
.random { grid-area: random; 
    background-color: rgba(255,255,255, 0.8);}

.body {
    font-family: "Inter", sans-serif;
}
  
